@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=latin,cyrillic-ext,cyrillic);
html,
body {
	margin: 0;
	padding: 0;
}
body {
	font-family: "Open Sans", "Arial" sans-serif;
	font-size: 14px;
}
.header {
	width: 100%;
	background: rgba(0, 0, 0, 0.3);
}
.menu {
	width: 100%;
	color: #fff;
	background-color: #283645;
}