extends ../layouts/default

block variables


block content
	.layout-center-wrapper
		include ../blocks/main
		include ../blocks/features
		include ../blocks/reviews
		include ../blocks/price
		include ../blocks/contacts