.contacts
	.contacts-title
		p.contacts-title__text Остались вопросы?
		p.contacts-title__text Свяжитесь с нами!

	.contacts-item
		p.contacts-item__title Звоните
		p.contacts-item__text 8 (800) 1000 900

	.contacts-item
		p.contacts-item__title Пишите
		p.contacts-item__text hello@pinkapp.ru

	.contacts-item
		p.contacts-item__title Приезжайте в гости
		p.contacts-item__text Санкт-Петербург, Невский проспект, д.20