-var featuresItem = 

.features
	.features-slogan
		p.features-slogan__item Устали от серости мегаполиса?
		p.features-slogan__item Нам есть, что вас предложить!
	
	+features ([{
		title: 'Поднимает настроение',
		text: 'Приложение позволит вас победить осеннюю хандру и депрессию буквально в несколько кликов'
	}, {
		title: 'Меняет мир вокруг',
		text: 'Сделайте снимок и украсьте его смайликом или текстовой подписью, чтобы усилить эффект'
	}, {
		title: 'Заводит новых друзей',
		text: 'Ставьте лайки, комментируйте, делитесь фотографиями с друзьями и заводите новых'
	}])