.main
	p.main-title Взгляните на жизнь иначе
	.main-apps
		a.main-apps__dwnl(href='#') Скачать приложение
		.main-apps__links
			each link in links
				a(href=link)
		p.main-apps__description Доступно для iPhone, iPad, Android, Windows phone, Mac OS, Windows 8