.reviews
	.reviews-block
		+reviews ([{
			user: 'Николай Петров',
			text: 'Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи! А еще я познакомился со своей будущей женой в комментариях к выложенной фотографии!'
		}, {
			user: 'Николай Петров',
			text: 'Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи! А еще я познакомился со своей будущей женой в комментариях к выложенной фотографии!'
		}, {
			user: 'Николай Петров',
			text: 'Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи! А еще я познакомился со своей будущей женой в комментариях к выложенной фотографии!'
		}])
	.reviews-controls
		input(type='radio' name='rewiews-controls' checked)
		input(type='radio' name='rewiews-controls')
		input(type='radio' name='rewiews-controls')